body {
  background-color: lightgrey;
}

.login-form-wrapper {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr fit-content(300px) 1fr;
}

#game-board {
  margin: 20px;
}

.information-column {
  margin: 40px;
}

.board {
  border: solid 2px;
}

button {
  background-color: limegreen;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
